body{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.half-width{
    width: 50%;
}
.width30{
    width: 40%;
}
.width70{
    width: 60%;
    padding-right: 20px;
}

p{
    font-size: 20px;
   
}
.orange{
    color: #ffaa57;
}
.white{
    color: #fff;
}
.banner-text{
    padding: 30px;
    margin: 40px;
    margin-top: 100px;
}
.banner-text h1{
    font-size: 60px;
    padding-left :20px ;
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient( red,rgb(221, 25, 58));
    border-image-slice: 1;
}
#section2-img{
    width: 500px;
}
.pBtn{
margin: 30px 0;
}
.Btn{
    padding: 10px 30px;
    background-color: rgb(238, 18, 18);
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin: px 10px;
}
.center{
    text-align: center;
}
h2{
    font-size: 35px;
    font-weight: 600;
}
#missions{
    padding: 0 30px;
}
.mission1{
    margin: 20px 2%;
    padding: 20px;
    background-color: #ebf5f6;
    border-radius: 15px;
}
.mission2{
    margin: 20px 2%;
    padding: 20px;
    background-color: #ffeeee;
    border-radius: 10px;
}
.mission3{
    margin: 20px 2%;
    padding: 20px;
    background-color: #fff4d6;
    border-radius: 10px;
}
.icon{
    padding: 10px;
    font-size: 50px;
    color: rgb(88, 85, 85);
}

.about{
    padding: 5%;

}
.about img{
    margin-top: 30px;
    width: 90%;
    height: 90%;
}



.porrtxm{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    
 }

 .xitem1{
     background-image: url(image/1.jpg);
     background-size: cover;
     margin: 20px;
     width: 350px;
     height: 250px;
 }
 .xitem2{
     background-image: url(image/2.jpg);
     background-size: cover;
     margin: 20px;
     width: 350px;
     height: 250px;
 }
 .xitem3{
     background-image: url(image/3.jpg);
     background-size: cover;
     margin: 20px;
     width: 350px;
     height: 250px;
 }
 .xitem4{
     background-image: url(image/4.jpg);
     background-size: cover;
     margin: 20px;
     width: 350px;
     height: 250px;
 }
 .xitem5{
     background-image: url(image/5.jpg);
     background-size: cover;
     margin: 20px;
     width: 350px;
     height: 250px;
 }
 .xitem6{
     background-image: url(image/6.jpg);
     background-size: cover;
     margin: 20px;
     width: 350px;
     height: 250px;
 }
 
 .title {
  background-color: rgba(247, 247, 247, 0.911);
  width: 90%;
  margin: 0 auto;
  margin-top: 220px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 10px 24px -5px rgba(0,0,0,0.71);
 -webkit-box-shadow: 0px 10px 24px -5px rgba(0,0,0,0.71);
 -moz-box-shadow: 0px 10px 24px -5px rgba(0,0,0,0.71);
  
 }
 .title p{
     padding-left:  10px;
     font-size: 20px;
     font-weight: 500;
     color: #414141;
 }
 .title i{
     margin-top: -5px;
     font-size: 70px;
     color: rgb(238, 18, 18);
 } 

footer{
    height: 115px;
    width: 100%;
    background-color:rgb(238, 18, 18);
}
#foot{
    padding: 5px;
}
 #footer-qoute{
     font-size: 15px;
     
 }